@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap');
*{
  margin: 0;
  padding: 0p;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-family: 'Barlow Condensed', 'Arial Narrow', 'Roboto Condensed', 'Open Sans Condensed', sans-serif;

}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}

/* Navigation Bar */
nav {
  grid-column: 1 / -1;
  background-color: #ffffff;
  color: white;
  box-shadow:  1px 1px 1px 1px #b1b1b13d;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  place-content: center;
  padding: 10px;
}

.nav-list a {
  color: white;
  text-decoration: none;
  color: rgb(99, 24, 185);
  font-weight: bold;
}

.nav-list li {
  margin: 0 10px;
  padding: 5px;
  transition:   0.3s ease-in-out,  0.3s ease-in-out;

}


.nav-list li:hover {
  background-color: rgb(214, 164, 13);
  border-radius: 2px;

}



/* Hero Section */
.hero-container {
  grid-column: 1 / -1;
  background-color: #565a5c;
  background: url('./assets/images/hero.jpg') no-repeat center center/cover;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: -20px;
}

.hero-text {
  font-size: 48px;
  font-weight: bold;
}


/* Merch Section */
.merch-container {
  grid-column: 1 / span 12;
  display: flex;
  flex-direction: column;
  background-color: #ffffffd3;
  align-items: center;
  padding: 20px;
  margin-top: 80px;
  margin-bottom: 100px;

}

.merch-content {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.merch-image {
  flex: 1;
  display: flex;
  height: 100%;
  object-fit: cover;
  margin-right: 20px;
}

.merch-image img {
  width: 800px;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 2px;
}

.merch-text {
  font-weight: 800;
  line-height: 130%;
  letter-spacing: 0.031rem;
  text-transform: uppercase;
  font-size: 2.25rem;
  font-family: 'Roboto Slab', 'Courier New', serif;
  color:  #565a5c;
  margin-bottom: 80px;

}

.merch-description {
  flex: 2;
  text-align: left;
}

.merch-description p {
  font-size: 18px;
  margin-bottom: 20px;
}

.merch-button {
  background-color:rgb(214, 164, 13);
  font-weight: bold;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: auto;
  font-size: 18px;
  border-radius: 4px;
  transition: 0.3s ease-in-out,  0.3s ease-in-out;
}

.merch-button:hover {
  background-color: rgb(148, 112, 5);
  color: rgb(255, 255, 255);

}


/* FAQs Section */
.faqs-section {
  grid-column: 1 / span 12;
  background-color: #f9f9f9;
  padding: 40px;
  margin-top: 80px;
  margin-bottom: 50px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.faqs-section h2 {
  font-weight: bold;
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.faqs-section p {
  font-size: 16px;
  color: #666;
  line-height: 1.6;
}

/* ContactUs Section */
.contact-container {
  grid-column: 1 / span 12;
  background-color: #f9f9f9;
  padding: 40px;
  margin-top: 80px;
  margin-bottom: 50px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-container h2 {
  font-weight: bold;
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.contact-container form {
  margin-top: 20px;
}

.contact-container label {
  display: block;
  margin-bottom: 10px;
}

.contact-container input,
.contact-container textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-container button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.contact-container button:hover {
  background-color: #555;
}

/* About Section */
.about-section {
  grid-column: 1 / span 12;
  background-color: #f7f7f7;
  padding: 40px;
  margin-top: 80px;
  margin-bottom: 50px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

}

.about-section .about-header {
  font-weight: 800;
  line-height: 130%;
  letter-spacing: 0.031rem;
  text-transform: uppercase;
  font-size: 2.25rem;
  font-family: 'Roboto Slab', 'Courier New', serif;
  color:  #565a5c;
  margin-bottom: 50px;
  display: flex;
  place-content: center;
}


.intro-text {
  font-family: 'Barlow Condensed', 'Arial Narrow', 'Roboto Condensed', 'Open Sans Condensed', sans-serif;
  font-size: 1.25rem;
  line-height: 1.6;
  display: grid;
  color: #333;
  margin: 20px 0;
  padding-left: 30%;
  padding-right: 30%;
  text-align: center;
}



/* Promotion*/
.promotions-section{
  grid-column: 1 / span 12;
  padding: 20px;
  background-color: rgb(208, 208, 208);
  color: rgb(214, 164, 13);
  background: linear-gradient(330.17deg, rgb(10, 7, 14), rgb(99, 24, 185));
  text-align: center;
  font-weight: 800;
  line-height: 130%;
  letter-spacing: 0.031rem;
  text-transform: uppercase;
  font-size: 2rem;
  font-family: 'Roboto Slab', 'Courier New', serif;


}


/* Membership Section */
.membership-options-section {
  grid-column: 1 / span 12;
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  align-items: center;
  padding: 20px;
  margin-top: 80px;
  gap: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
}

.membership-header {
  font-weight: 800;
  line-height: 130%;
  letter-spacing: 0.031rem;
  text-transform: uppercase;
  font-size: 2.25rem;
  font-family: 'Roboto Slab', 'Courier New', serif;
  color: #565a5c;
  margin-bottom: 80px;
}

.membership-description {
  font-size: 1rem;
  color: #333;
  text-align: center;
  margin: 0 20px;
}

.membership-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  width: 100%;
}

.membership-card-container {
  background: linear-gradient(330.17deg, rgb(10, 7, 14), rgb(99, 24, 185));
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 220px;
  align-items: center;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  margin-bottom: 50px;
}

.membership-card-title {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
  color: white;
  font-family: 'Barlow Condensed', 'Arial Narrow', 'Roboto Condensed', 'Open Sans Condensed', sans-serif;
}

.membership-card-price {
  font-size: 3rem;
  font-weight: bold;
  margin: 10px 0;
  color: white;
  font-family: 'Roboto Slab', 'Courier New', serif;
}

.membership-card-button {
  background-color: white;
  font-weight: bold;
  border-radius: 4px;
  font-family: 'Barlow Condensed', 'Arial Narrow', 'Roboto Condensed', 'Open Sans Condensed', sans-serif;
  color: rgb(0, 0, 0);
  border: none;
  padding: 7px 20px;
  cursor: pointer;
  margin-top: auto;
  font-size: 18px;
}

.membership-card-button:hover {
  background-color: rgb(214, 164, 13);
  color: white;
  transition: 0.3s ease-in-out, 0.3s ease-in-out;
}

.membership-card-container ul {
  padding: 0 0 10px 10px;
  text-align: left;
  width: 100%;
  margin-top: 10px;
}

.membership-card-container li {
  margin-bottom: 10px;
  color: white;
  font-size: 14px;
}


/* Trainers Section */
.trainers-section {
  grid-column: 1 / span 12;
  background-color:#f7f7f7;
  padding: 40px;
  margin-top: 80px;
  margin-bottom: 50px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.trainers-section h2 {
  font-weight: bold;
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.trainers-section p {
  font-size: 16px;
  color: #666;
  line-height: 1.6;
}

/* Testimonials Section */
.testimonials-section {
  grid-column: 1 / span 12;
  background-color: #f7f7f7;
  padding: 40px;
  margin-top: 80px;
  margin-bottom: 50px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.testimonials-section h2 {
  font-weight: bold;
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.testimonials-section p {
  font-size: 16px;
  color: #666;
  line-height: 1.6;
}





/* Footer */
.footer-container {
  grid-column: 1 / -1;
  background-color: #f7f7f7;
  color: rgb(99, 24, 185);
  padding: 20px;
  text-align: center;
}

/* Media Queries */
@media (max-width: 1200px) {
  .specials-section, .merch-container {
    grid-column: 1 / -1;
    padding: 20px 50px;
  }
}

@media (max-width: 768px) {
  .nav-list {
    flex-direction: column;
    text-align: center;
  }

  .hero-text {
    font-size: 36px;
  }

  .specials-section, .merch-container {
    padding: 20px;
  }

  .merch-content {
    flex-direction: column;
    align-items: center;
  }

  .merch-image {
    margin: 0;
    margin-bottom: 20px;
  }

  .merch-description {
    text-align: center;
  }

  .merch-text {
    font-size: 2rem;
  }

  .specials-header {
    font-size: 2rem;
  }
  .intro-text {
    font-family: 'Barlow Condensed', 'Arial Narrow', 'Roboto Condensed', 'Open Sans Condensed', sans-serif;
    font-size: 20px;
     padding: 0;
  }
}

@media (max-width: 480px) {
  .hero-text {
    font-size: 24px;
  }

  .specials-section, .merch-container {
    padding: 10px;
  }

  .specials-header, .merch-text {
    font-size: 1.5rem;
  }

  .card-title {
    font-size: 20px;
  }

  .specials-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    width: 100%;
    padding: 10px;
  }

  .intro-text {
    font-family: 'Barlow Condensed', 'Arial Narrow', 'Roboto Condensed', 'Open Sans Condensed', sans-serif;
    font-size: 20px;
     padding: 0;
  }
}
